@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


$family-sans-serif: "Montserrat", sans-serif;
$family-primary: $family-sans-serif;
$primary: #77d353;
$info: #00A6FF;
$white: whitesmoke;
$black: #0A0A0A;
$grey: rgba(255,255,255,0.1);
$grey-lighter: #eee;
$light: $grey-lighter;


// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";


@import "./styles.scss";
