@import "../node_modules/bulma/sass/base/_all.sass";

.navbar {
  margin-top: 21px;
}

.logo{
  max-width: 480px;
  margin: 0 auto 80px auto;
  transform: rotate(-3deg);
}

.is-margin-auto {
  margin: auto;
}

.process {
  max-width: 200px;
  background-color: $black;
  color: $white;
}

.process .description {
  max-width: 100px;
 }

.disclaimer {
  margin: auto;
  background-color: $grey;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disclaimer .description {
  font-size: var(--font-size-text);
  font-weight: normal;
  color: $white;
  min-height: 100px;
}

.disclaimer .title {
  font-size: var(--font-size-subtitle);
  font-weight: bold;
  color: $white;
  margin: 1.5rem 0 1rem;
}

.footer {
  color: $white;
  background-color: $black;
}

.footer .level-item:first-child {
  border-right: solid 1px $white;
}

.footer figure {
  margin-right: 2rem;
}
